body {
  height: 100vh;
}

.contener {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  background-color: white;
  align-items: center;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header {
  max-width: 1200px;
  width: 100%;
  display: flex;
  position: fixed;
  flex: 0 0 auto;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  &__h1 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 0 10%;
  }

  &__ul {
    display: flex;
    margin-right: 10%;
    align-items: center;
  }

  &__a {
    display: flex;
    font-size: 17px;
    color: #bae7eb;
    margin: 16px 10px;
    text-decoration: none;

    cursor: pointer;
    &:hover {
      color: rgb(228, 230, 119);
    }
    &:active {
      color: rgb(230, 132, 119);
    }
    &:focus {
      color: rgb(241, 35, 8);
    }
  }
}

.dinamikPage {
  margin-top: 52px;
  flex: 1 0 auto;
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
  background: url(./../img/fon4.jpg) center;
  background-size: cover;
}



.footer {
  margin-top: 1px;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  height: 40px;
  background-color: black;
}


@import "task2"; 

@import "task3"; 